body{
  background-image: linear-gradient(to right, #004ff9 , black);
  color: #63ff73;
}

.cards__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
}